@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.homeWrapper{
    padding: 0px 50px;
    padding-top: 30px;

    .homeForm{
        width: 100%;
        display: flex;
        justify-content: space-around;


        .map{
            width: 700px;
            height: 600px;
            border-radius: 30px;
            background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form{
            width: 600px;
            height: 400px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 40px;
            gap: 25px;

            .reason{
                width: 100%;
                border-radius: 5px;
                background-color: whitesmoke;

                .reasonInput{
                    width: 100%;
                    height: 50px;
                    padding: 5px;
                    font-size: 16px;
                    border: none;
                    border-bottom: 2px solid silver;
                }
                .reasonInput:focus{
                    outline: none;
                    border-bottom: 2px solid black;
                }
                
            }
            .strName{
                width: 100%;
                border-radius: 5px;
                background-color: whitesmoke;

                .streetInput{
                    width: 100%;
                    height: 50px;
                    padding: 5px;
                    font-size: 16px;
                    border: none;
                    border-bottom: 2px solid silver;
                }
                .streetInput:focus{
                    outline: none;
                    border-bottom: 2px solid black;
                }
            }
            .star{
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-bottom: 2px solid silver;

                p{
                    font-size: 16px;
                }

                .rating{
                    display: flex;
                    align-items: center;
                    height: 50px;
                }
            }
            .photo{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-bottom: 2px solid silver;

                p{
                    margin: 10px 0;
                }

                .file{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .area{
                width: 100%;
                height: 100%;

                .desc{
                    width: 100%;
                    height: 100px;
                    padding: 5px;
                    font-size: 16px;
                    max-height: 150px;
                    border:none;
                    border-bottom: 2px solid silver;
                }
            }
            .send{
                width: 200px;
                padding: 20px;
                font-size: 20px;
                background: #583384;
                border-radius: 10px;
                color: white;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            .send:active{
                background-color: white;
                color:black;
            }
            .sendPng{
                width: 40px;
                height: 40px;
            }
            
        }
    }
}
