@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.homeWrapper{
    padding: 0px 50px;
    padding-top: 30px;

    .homeForm{
        width: 100%;
        display: flex;
        justify-content: space-around;


        .map{
            width: 700px;
            height: 600px;
            border-radius: 30px;
            background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}
