@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.homeWrapper{
    padding: 0px 50px;
    padding-top: 30px;

    .homeForm{
        width: 100%;
        display: flex;
        justify-content: space-around;


        .map{
            width: 700px;
            height: 600px;
            border-radius: 30px;
            background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form{
            width: 600px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 40px;
            gap: 25px;

            .reason{
                width: 100%;
                border-radius: 5px;
                background-color: whitesmoke;

                .reasonInput{
                    width: 100%;
                    height: 50px;
                    padding: 5px;
                    font-size: 16px;
                    border: none;
                    border-bottom: 2px solid silver;
                }
                .reasonInput:focus{
                    outline: none;
                    border-bottom: 2px solid black;
                }
                
            }
            .strName{
                width: 100%;
                border-radius: 5px;
                background-color: whitesmoke;

                .streetInput{
                    width: 100%;
                    height: 50px;
                    padding: 5px;
                    font-size: 16px;
                    border: none;
                    border-bottom: 2px solid silver;
                }
                .streetInput:focus{
                    outline: none;
                    border-bottom: 2px solid black;
                }
            }
            .star{
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-bottom: 2px solid silver;

    }
}

@media screen and (max-width:426px) {

    .homeWrapper{
        padding: 20px 15px;

        .homeForm{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 20px;

            .map{
                width: 100%;
                height: 270px;
            }
            .form{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                padding: 0 10px;

                h1{
                    font-size: 18px;
                    margin: 5px 0px;
                }

                .reason{
                    width: 100%;
                    background-color: whitesmoke;

                    .reasonInput{
                        width: 100%;
                        height: 40px;
                        padding: 0 10px;
                        font-size: 14px;
                    }
                }

                .strName{
                    width: 100%;
                    background-color: whitesmoke;

                    .streetInput{
                        width: 100%;
                        height: 40px;
                        padding: 0 10px;
                        font-size: 14px;
                    }
                }

                .star{
                    width: 100%;
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                    gap: 10px;
                    padding: 0 10px;
                    padding-bottom: 10px;

                    .br{
                        display: none;
                    }

                    p{
                        font-size: 14px;
                    }
                    .rating{
                        display: flex;
                        align-items: center;
                        height: 30px;
                    }
                }

                .photo{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    padding: 10px;
                    padding-top: 0px;
                    text-align: left;
                    gap: 5px;

                    p{
                        margin: 10px 0;
                        text-align: left;
                        font-size: 14px;
                    }
                    .file{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                    }
                }

                .area{

                    .desc{
                        font-size: 14px;
                    }
                }

                .send{
                    width: 200px;
                    padding: 5px 20px;
                    font-size: 16px;
                    font-weight: bold;
                    border-radius: 15px;

                    .sendPng{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

    }
    
}
