.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 20px;

    .company{
        width: 70%;
        height: 80px;
        border-radius: 15px;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .up{
            width: 100%;
            height: 88%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;

            .left{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .comPhoto{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid #583384;
                }

                .leftP{
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 20px;

                    span{
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }

            .right{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                h3{
                    font-size: 24px;
                }

                .star{
                    width: 30px;
                    height: 30px;
                }
            }

        }
        .down{
            width: 100%;
            height: 13%;
            background-color: #a68bb4;
            border-radius: 0px 0px 10px 10px;
        }
    }
}


@media screen and (max-width: 426px) {
    .company{
        width: 90% !important;
        height: 70px !important;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .up{
            width: 100%;
            height: 88%;
            padding: 0 10px !important;

            .left{
                gap: 15px !important;

                .comPhoto{
                    width: 45px !important;
                    height: 45px !important;
                }
                .leftP{
                    font-size: 16px !important;
                    
                    span{
                        display: none;
                    }
                }
            }
            .right{

                gap: 5px !important;

                h3{
                    font-size: 20px !important;
                }
                .star{
                    width: 25px !important;
                    height: 25px !important;
                }

            }
        }
    }
}